<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>orange.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustServlet</servlet-name>
        <servlet-class>orange.AddCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>orange.searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProfileServlet</servlet-name>
        <servlet-class>orange.ShowProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>onetimeServlet</servlet-name>
        <servlet-class>orange.onetimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VAS_Servlet</servlet-name>
        <servlet-class>orange.VAS_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>orange.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VAS_Servlet2</servlet-name>
        <servlet-class>orange.VAS_Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRP</servlet-name>
        <servlet-class>orange.CreateRP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>orange.BillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>orange.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processor</servlet-name>
        <servlet-class>orange.processor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDR_Rating</servlet-name>
        <servlet-class>orange.CDR_Rating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustServlet</servlet-name>
        <url-pattern>/AddCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProfileServlet</servlet-name>
        <url-pattern>/ShowProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>onetimeServlet</servlet-name>
        <url-pattern>/onetimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VAS_Servlet</servlet-name>
        <url-pattern>/VAS_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VAS_Servlet2</servlet-name>
        <url-pattern>/VAS_Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRP</servlet-name>
        <url-pattern>/CreateRP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/BillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processor</servlet-name>
        <url-pattern>/processor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDR_Rating</servlet-name>
        <url-pattern>/CDR_Rating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
